@model Musportz.Models.UserProfile

@{
    ViewData["Title"] = "Details";
}

<h2>Musportz</h2>

<div>
    <h4>Profile Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserAccountId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserAccountId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd>
            <img src="\userPhotos\@Html.DisplayFor(model => model.PhotoPath)" width="200" height="200" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisteredAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisteredAt)
        </dd>

    </dl>
    <p>
        <a asp-area="" asp-controller="BlogPosts" asp-action="Create" class="btn btn-default">Create Blog</a>
    </p>
    <p>
        <a asp-area="" asp-controller="Messages" asp-action="NewMessage" class="btn btn-default">Send Message</a>
    </p>
</div>
<div>
    <a asp-controller="BlogPosts" asp-action="userBlogPost" asp-route-id="@Model.Id" role="button" class="btn btn-success">View Blogs</a> |
    <a asp-controller="UserProfiles" asp-action="Edit" asp-route-id="@Model.Id" role="button" class="btn btn-success">Edit Profile</a> |
</div>
